.booking-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}

.app__wrapper_card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.trip-card {
  position: relative;
  width: 370px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 26px;
  background: #fff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
    0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.trip-card img {
  border-radius: 24px;
}

.trip-card h3, .overlapping-card h3 {
  color: #080809;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%; /* 22.41px */
  letter-spacing: 0.27px;
}

.trip-card p, .overlapping-card p {
  color: #84829a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%; /* 19.92px */
  letter-spacing: -0.08px;
}

.trip-card-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.4rem;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.people-num {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.overlapping-card {
  position: absolute;
  width: 263px;
  height: 129px;
  bottom: 45px;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
    0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.overlapping-card_img img{
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.overlapping-card_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (max-width: 1150px) {
    .overlapping-card{
        right: -50px;
    }
}

@media screen and (max-width: 850px) {
    .overlapping-card{
        right: -140px;
    }

 
}

@media screen and (max-width: 650px) {
    .overlapping-card{
        display: none;
    }
    
    

}

@media screen and (max-width: 450px) {
  .trip-card{
    width: 80%;
  }
  
}



