.app__destinations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 4rem 1rem;

}

@media screen and (max-width: 800px) {
    .app__destinations{
        justify-content: center;
    }
    
}