.app__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.app__navbar_links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
}

.app__navbar_links li:hover{
    color: var(--color-yellow);
}

.app__navbar_account{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.app__navbar_smallscreen{
    display: none;
}

.app__navbar-smallscreen_overlay{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: flex-start;
    width: 300px;
    height: 100vh;
    background-color: var(--color-yellow);
    overflow-x: hidden;
    position: fixed;
    transition: 0.5s;
    top: 0;
    right: 0;
    color: white;
    z-index: 1;
}

.app__navbar_smallscreen_links{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3rem;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3rem;
    padding: 1rem 0rem;
    cursor: pointer;
}

.app__navbar_smallscreen_links li:hover{
    color: var(--color-dark);
}

.login-btn, .signup-btn{
border: 1px solid transparent;
border-radius: 0.5rem;
background: var(--color-yellow);
color: var(--color-white);
width: 102px;
height: 40px;
padding: 0.5rem 1rem;
text-align: center;
font-size: 16px;
letter-spacing: -0.04em;
font-weight: 500;
line-height: normal;
}

.login-btn:hover{
    background: white;
    color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
}

.pointer{
    cursor: pointer;
}


@media screen and (max-width: 1050px) {
    .app__navbar_links{
        display: none;
    }

    .app__navbar_smallscreen{
        display: flex;
    }

    .app__navbar_account{
        display: none;
    }

}

